.card {
    border: 3px solid white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.card-info {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}

.card-image {
    flex-shrink: 1;
    justify-content: start;
}

.card-name {
    display: block;
}

.card-desc {
    border: 5px solid black;
    margin: 10px;
    flex-grow: 2;
}

.card-stats {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}