nav {
  background-color:gray;
  color: rgb(33, 33, 33);
  width: auto;
  top: 0;
  left: 0;
  position: absolute;

}


nav a:hover {
  background-color: #ddd;
}

nav a.active {
  background: linear-gradient(to right, #c404ff, #6f027d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav a {
  color: black;
  padding: 30px;
}



.nav-links {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  font-size: 1em;
}